.filter-big-btn-wrapper {
  display: flex;
  justify-content: flex-start;
}

.filter-big-btn {
  width: 266px;
  height: 68px;
  background: #7f7fd5;
  border-radius: 13px;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;

  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
  border: none;
}
