.log-in-btn {
    border: none;
    background-color: none;
    background: url(../../../image/galka.svg) center no-repeat;
    background-size: contain;
    width: 8px;
    height: 4px;
    cursor: pointer;
}

.log-in-wrap {
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 11px;
}

.log-in-wrap img {
    margin-right: 9px;
}
