.button-show-film {
  width: 230px;
  height: 68px;
  background: #ebebeb;
  border-radius: 13px;
  border: none;
  font-family: "Alata";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 24px;
  color: #ebebeb;
  margin-top: 50px;
}

.button-show-film:hover {
  background: #c0bfbf;
}
.active {
  background: #7f7fd5;
  color: #fff;
}
.active:hover {
  background: #6060b6;
}
