.btn__filter {
  border: none;
  background-color: none;
  background: url(../../../image/filter.svg);
  width: 25.6px;
  height: 32px;
  cursor: pointer;
  font-family: "Alata";
}

/* .btn__filter:hover {
  background: #c4c4c4;
} */
