.short-year {
  font-family: "Alata";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #7f7fd5;
  padding-bottom: 10px;
}
