.app-header {
  display: flex;
  justify-content: space-between;
  flex: row;
  margin-bottom: 50px;
}

.left-header {
  display: flex;
  align-items: center;
}

.right-header {
  display: flex;
  align-items: center;
}
