.app-nav,
.app-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.app-nav {
  position: relative;
}
.app-navigation {
  position: fixed;
  justify-content: center;
  width: 78px;
}

.app-navigation img {
  margin-top: 40px;
}

.page-theme {
  width: 60px;
  height: 30px;
  background: #fdfdff;
  border: 0.5px solid #4f4f4f;
  box-sizing: border-box;
  border-radius: 50px;
  margin-top: 142px;
}

.dark-theme {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #7f7fd5;
  border-radius: 50px;
  margin: 4px 0px 5px 8px;
}

.dark-theme img {
  width: 9px;
  height: 9.5px;
  margin-top: 4px;
}
